/* NEWS STYLE START */
.newsflex {
  display: flex;
}

.newspage_title {
  padding: 30px 0;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  width: 700px;
  margin: 0 auto;
}

.newsflex img {
  width: 160px;
  height: 160px;
  border-radius: 15px;
  margin-right: 20px;
}

.newsflex div a {
  padding-bottom: 60px;
  font-weight: bold;
  font-size: 16px;
  color: #0000ff;
  display: block;
}

.newsflex div p {
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}

.newspage_content {
  width: 700px;
  margin: 0 auto;
}

.newspage_content p {
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}

.newspage_content span {
  color: #303030;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}
.newspage_content {
  margin-bottom: 40px;
}

.news_hr {
  width: 100%;
  border: #000 dashed 1px;
}

/* NEWS STYLE END */


/* INTERVU STYLE START */

.intervu_title {
  width: 600px;
  text-align: center;
  padding: 30px 0;
}

.intervu_content {
  width: 750px;
  margin: 0 auto;
  display: flex;
}

.intervu_content img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  margin-right: 15px;
}

.intervu_info p {
  width: 530px;
  color: #303030;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
  font-weight: 500;
}

.intervu_info a {
  display: block;
  width: 109px;
  height: 30px;
  color: #0000ff;
  border: 1px solid #0000ff;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

.intervu_info a:hover {
  color: #000;
  border: #000 1px solid;
  transition: .5s;
}

.intervu_hr {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #000;
}

/* INTERVU STYLE END */

.video_content {
  padding: 50px 0;
  text-align: center;
}

.video_content h2 {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
  color: #282229;
  line-height: 1.3;
  font-weight: 500;   
}

.video_content video{
  width: 500px;
}

/* TRAINING STYLE START */

.training_content {
  padding: 40px 0;
  width: 450px;
  margin: 0 auto;
}

.training_content h2 {
  padding-bottom: 15px;
  color: #282229;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.3;
}

/* .training_img_content {
  width: 800px;
  height: 500px;
  border-image-source: url('../img/trainingbg_border.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 15px;
} */

.training_img_content img {
  width: 360px;
  height: 200px;
  display: block;
  border: 15px double #000000b2;
  padding: 10px;
  cursor: crosshair;
  margin-bottom: 15px;
  transform: scale(1);
}

.training_img_content img:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.training_photo_date {
  font-style: 15px;
  font-weight: 500;
  line-height: 1.3;
  color: #282229;
}
/* TRAINING STYLE END */