.athletes_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000;
  line-height: 1.2;
  margin-bottom: 5px;
}

.athletes_text {
  margin-bottom: 50px;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  display: block;
}

.athletes_content {
  margin-bottom: 100px;
}

.athletes_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.athletes_info img {
  width: 300px;
  height: 400px;
  margin-bottom: 5px;
  margin-right: 40px;
} 

.athletes_info h3 {
  color: #000;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  font-size: 14px;
  display: block;
  cursor: pointer;
  margin-bottom: 60px;
  margin-top: 20px;
}
